.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.img-container{
    width: 10rem;
    height: 10rem;
}

.div-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.span-container{
    font-weight: 100;
    font-size: large;
    font-style: bold;
    color: var(--text-color-primary);
}

.page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-primary);
}